:root {
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --white: #fff;
  --cloud: #f4f4fd;
  --hover-blu: #404bbf;
  --CORNFLOWER: #e7e9fc;
  --NAVY-BLUE-modal: #2e2f4266;
  --LIGHT-SLATE: #8e8f99;
}
/* Base  */
.body {
  font-family: Roboto, sans-serif;
  color: var(--slate);
  background-color: var(--white);
  font-style: normal;
  font-size: 16px;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* End base  */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header */
.header {
  border-bottom: 1px solid var(--CORNFLOWER);
  text-decoration: none;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-address {
  display: flex;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--iris);
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-right: 76px;
}
.logo-accent {
  color: var(--navyblue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
}

.nav-list {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
}
.nav-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: inline-block;
  padding: 24px 0 24px;
  color: var(--navyblue);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.nav-link.nav-link.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--hover-blu);
  border-radius: 2px;
  width: 100%;
}

.nav-link.active {
  color: var(--hover-blu);
}
.adress-title {
  background-color: var(--white);
  font-style: normal;
}
.adress-link {
  color: var(--slate);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: var(--hover-blu);
}

/* Hero */
.hero-section {
  background-color: var(--navyblue, #2e2f42);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

.hero-title {
  max-width: 496px;
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07em;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  color: var(--white);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus {
  color: var(--white);
  background-color: var(--hover-blu);
}
.hero-button:hover {
  color: var(--white);
  background-color: var(--hover-blu);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Advantage  */
.advantage-section {
  background: var(--white);
  padding: 120px 0;
}
.advantage-list {
  display: flex;
  gap: 24px;
}
.advantage-link {
  width: calc((100% - 72px) / 4);
}
.advantage-icon {
  display: flex;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  fill: var(--CLOUD);
  justify-content: center;
  background-color: var(--cloud);
  margin-bottom: 8px;
}
.advantage-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantage-text {
  color: var(--slate);
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* Team  */
.team-section {
  background-color: var(--cloud);
  padding: 120px 0;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: var(--white);
  flex-basis: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 32px 0;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-link {
  width: 40px;
  height: 40px;
}
.team-social-icon {
  fill: var(--cloud);
}
.team-social-image {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-image:hover,
.team-social-image:focus {
  background-color: var(--hover-blu);
}
.team-title-section {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: var(--slate);
  text-align: center;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 12px;
}
/* Portfolio */
.portfolio-section {
  background-color: var(--white);
  padding: 120px 0 120px 0;
}
.portfolio-title-section {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-link {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .portfolio-overlay-text {
  transform: translateY(0);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio {
  border: 1px solid var(--CORNFLOWER);
  padding: 32px 16px;
  border-top: none;
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  inset: 0;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--slate);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* Footer  */
.footer {
  background: var(--navyblue);
  padding: 100px 0;
}
.footer-text {
  color: var(--white);
  font-weight: 400px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-footer {
  color: var(--iris);
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-accent-footer {
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.container-footer {
  display: flex;
  align-items: baseline;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-info {
  margin-right: 120px;
}
.footer-text-second {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
}
.footer-social-image {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-image:hover,
.footer-social-image:focus {
  background-color: #31d0aa;
}
.footer-social-icon {
  fill: var(--cloud);
}
/* Modal footer  */
.modal-window {
  margin-left: 80px;
}
.footer-modal-text {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-modal-form {
  display: flex;
  gap: 24px;
}
.footer-modal-input {
  width: 264px;
  height: 40px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  background-color: transparent;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}
.footer-modal-input::placeholder {
  color: #ffffff;
}

.footer-modal-button {
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  background-color: var(--iris);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-modal-icon {
  margin-left: 16px;
  fill: var(--white);
}
/* End footer  */

/* Modal window  */
.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  inset: 0;
  opacity: 1;
  visibility: visible;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background: var(--DAIRY, #fcfcfc);
  width: 100%;
  max-width: 408px;
  min-height: 584px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-close {
  position: absolute;
  border-radius: 4px;
  background: var(--CORNFLOWER);
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover,
.modal-close:focus {
  border: none;
  background-color: var(--hover-blu);
  fill: var(--white);
}

.modal-title {
  font-size: 16px;
  color: var(--NAVY-BLUE, #2e2f42);
  display: flex;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  width: 360px;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}
.modal-field-textarea {
  margin-bottom: 16px;
}

.textarea,
.button {
  font-family: inherit;
  line-height: inherit;
}
.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--LIGHT-SLATE);
  margin-bottom: 4px;
}
.modal-input {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input.name {
  border: 1px solid var(--IRIS, #4d5ae5);
}
.modal-textarea {
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  width: 100%;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  outline: none;
  border: 1px solid var(--iris);
}
.modal-textarea:focus {
  outline: none;
  border: 1px solid var(--iris);
}
.modal-textarea::placeholder,
.modal-input::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.16;
  color: var(--LIGHT-SLATE);
}

.modal-input-wrap {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--iris);
}

.modal-button {
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.modal-checkbox-icon {
  pointer-events: none;
}
.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox-check {
  background-color: var(--hover-blu);
  border: none;
  fill: var(--cloud);
}
.modal-checkbox-check {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-checkbox-label {
  color: var(--LIGHT-SLATE);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-checkbox-privacy {
  color: var(--iris);
  text-decoration: underline;
}
